<div style="border-bottom: 1px solid #E7EAEC;padding-bottom:5px;margin: 5px 0px 15px;">
    <div style="display:inline-block;">
        <span id="nbPeptides" class="badge"
              style="background:#C50063;color:white;padding:8px 10px;border-radius:50%;margin-right:10px;vertical-align:middle;"></span>
    </div>
    <h4 style="display:inline-block;vertical-align:middle;">Peptide detailed information</h4></div>
<div class="row" style="height:auto;margin-left:0px;">
    <div class="row-same-height">
        <div class="navbar col-md-3 col-sm-3 col-sm-height col-md-height"
             id="info-left"
             style="background:#0F8292;padding:0;border-bottom-right-radius:0px;border-top-right-radius:0px;z-index: 1;vertical-align:top">
            <h4 style="color:white;font-size:24px;height:30px;font-weight:lighter;padding:5px 15px 25px;">Peptides</h4>
            <ul class="nav nav-stacked" id="listNames"
                style="color:lightslategrey;height:auto;max-height:450px;overflow:auto;border-top: 1px solid #066B78;box-shadow: 0px -3px 6px -6px #5ACEDE, inset 0px 3px 6px -6px #066B78;">
            </ul>
        </div>
        <div class="col-md-9 col-sm-9 col-sm-height col-md-height" id="info-right">
            <div class="row">
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="text-center" id="titlePepName"></h4>
                        </div>
                        <div id="peptideSpecificity" class="center-block"
                             style="height:150px;margin-top:10px;">
                            <table id="pepPosTable" class="table table-condensed" style="font-size:12px;">
                                <thead>
                                <tr>
                                    <th class="col-md-2" colspan="2" style="font-size:14px;font-weight:700;">Positions
                                    </th>
                                    <th class="col-md-4" colspan="4" style="font-size:14px;font-weight:700;">
                                        Trypticity
                                    </th>
                                    <th class="col-md-4" colspan="4" style="font-size:14px;font-weight:700;">
                                        C/N-Terminality
                                    </th>
                                </tr>
                                <tr>
                                    <th class="col-md-1" data-sort="int" data-sort-default="asc" id="sortStart">Start
                                    </th>
                                    <th class="col-md-1">End</th>
                                    <th class="col-md-1">N-side</th>
                                    <th class="col-md-1">C-side</th>
                                    <th class="col-md-1">Miscleavages</th>
                                    <th class="col-md-1">Global</th>
                                    <th class="col-md-1">N-term</th>
                                    <th class="col-md-1">C-term</th>
                                </tr>
                                </thead>
                                <tbody id="peptidePositions"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 detailedInfosFields">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="text-center" style="margin:0px;">Peptide Sequence</h5>
                        </div>
                        <div class="panel-body" style="height:60px;border-bottom:1px solid #E7EAEC;">
                            <dl>
                                <dt>Length</dt>
                                <dd id="length"></dd>
                            </dl>
                        </div>
                        <div class="panel-body" style="height:80px;overflow:auto;">
                            <dl>
                                <dt>Sequence</dt>
                                <dd id="pepSeq" style="width:150px;word-break: break-all;"></dd>
                            </dl>
                        </div>
                        <div class="panel-body" style="height:80px;border-top:1px solid #E7EAEC;">
                            <dl>
                                <dt>Nature</dt>
                                <dd>
                                    <ul id="nature" style="padding-left:20px;"></ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row detailedInfosFields">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="text-center" style="margin:0px;">PTM</h5>
                        </div>
                        <div class="panel-body" id="ptmInfos" style="height:220px;overflow:auto;border-bottom:1px solid #E7EAEC;padding:0px;">
                            <div class="panel-heading" style="background-color: #F5F5F5;border-bottom: 1px solid #DDD;border-top:1px solid #DDD;font-weight: 500;">PTM justified by this peptide :</div>
                            <div id="ptmByPeptide" class="panel-body"></div>
                            <div class="panel-heading" style="background-color: #F5F5F5;border-bottom: 1px solid #DDD;border-top:1px solid #DDD;font-weight: 500;">PTM present in this region :</div>
                            <div id="ptmByRegion" class="panel-body"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                    <div id="proteoBlock" class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="text-center" style="margin:0px;">Peptide to protein mapping</h5>
                        </div>
                        <div id="proteoBody" class="panel-body" style="padding:0px;height:220px;overflow:auto;">
                            </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="text-center" style="margin:0px;">Peptide overlap (<span id="pepIncludeType"></span>)</h5>
                        </div>
                        <div class="panel-body" style="height:100px;overflow:auto;border-bottom:1px solid #E7EAEC;">
                            <dl>
                                <dt>Included in</dt>
                                <dd>
                                    <ul id="pepIncludedIn" style="padding-left:20px;"></ul>
                                </dd>
                            </dl>
                        </div>
                        <div class="panel-body" style="height:120px;overflow:auto;">
                            <dl>
                                <dt>Includes</dt>
                                <dd>
                                    <ul id="pepIncluded" style="padding-left:20px;"></ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="text-center" style="margin:0px;">Sources</h5>
                        </div>
                        <div class="panel-body" style="height:220px;overflow:auto;border-bottom:1px solid #E7EAEC;">
                            <dl>
                                <dd>
                                    <ul id="pepSources" style="padding-left:20px;"></ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>