
<div id="featTableScroller" class="section-scroller">
    <table id="featTable" class="table table-striped table-fixed">
        <thead>
        <tr>
            <th class="featName" class="col-md-2">Name</th>
            <th class="col-md-2 text-align-right">Position</th>
            <th class="col-md-1 text-align-right">Length</th>
            <th class="col-md-5">Description</th>
            <th colspan="2" class="col-md-2 text-align-left">Evidence</th>
        </tr>
        </thead>
        {{#each groupedFeatures}}
        <tbody>
        <th colspan="6" class="{{{className group}}} general-info table-section-header"><div class="grey-x">{{group}}</div></th>
        {{#each features}}
        {{#each this}}
        <tr id={{id}} class="{{{className category}}} general-info" >
            <td>{{category}}</td>
            <td class="text-align-right"><a class="featPosition" href="javascript:;">{{{position length}}}</a></td>
            <td class="text-align-right">{{length}}</td>
            <td>{{{link}}}{{#if variant}}{{#each source}}{{#if externalDb}}{{#if crossRef}}{{#crossRef}} ; {{dbName}} : {{{linkTo name url}}} {{/crossRef}}{{/if}}{{/if}}{{/each}}{{/if}}{{#unless proteotypicity}} <span class="nonProteotypic">found in other entries</span>{{/unless}}
                {{> quality-label qualityQualifier=quality}}
            </td>
            {{#if source}}
            <td class="text-align-right"><span class="evidenceNumber">{{evidenceLength}}</span></td>
            <td>
                <div class="reference-label-container">
                    {{#each evidenceSources}}
                        <div class="reference-label">{{this}}</div>
                    {{/each}}
            </div>
            </td>
            {{else}}
            <td></td>
            <td></td>
            {{/if}}
        </tr>
        <tr class="{{{className category}}} detailed-info">
            <td colspan="6" class="table-row-evidence">
                {{#each source}}
                    {{> evidence codeName=evidenceCodeName source=assignedBy accession=crossRef.name url=crossRef.url}}
                    <div class="{{#if publicationMD5}}evidence-publication{{/if}}">
                        {{> publication parentId=(concat id ../id)}}
                    </div>
                {{/each}}
            </td>
        </tr>
        {{/each}}{{/each}}
    </tbody>{{/each}}
    </table>
</div>
