
    
    <div>
        <div class="filter-heading">
        <span class="fa fa-filter"></span>
        <h5>FILTER</h5>
        </div><div class="filter-body">
            <div id="filtering" class="all-filters">
                <button class="btn btn-default btn-sm" id="allFilters">All/None</button>
                {{#each filters}}
                <label class="filter-box">
                    <input type="checkbox" id={{@key}} value="option1" checked>{{this}}
                </label>
                {{/each}}

            </div>
        </div>
    </div>
    
