<div class="col-md-5">
	<div class="typeahead__container">
		<div class="typeahead__field">
			<span class="typeahead__query">
				<input class="heatmap-filterByRowName-input" name="country_v1[query]" type="search" placeholder="Search" autocomplete="off">
			</span>
			<span class="typeahead__button">
				<button class="heatmap-filterByRowName-search">
					<i class="typeahead__search-icon"></i>
				</button>
			</span>
		</div>
	</div>
</div>
<button class="btn btn-default heatmap-collapseAll-btn">CollapseAll</button>
<button class="btn btn-default heatmap-expandAll-btn">ExpandAll</button>
{{#if isShowExportButton}}
	<button class="btn btn-default heatmap-export-btn">export</button>
{{/if}}
<p class="heatmap-info"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</p>