<div style="border-bottom:1px solid #E7EAEC;margin-top: -10px;margin-bottom:5px;">
    <h5 id="proteotypicitySentence"></h5>
</div>
<div id="showEntry"  style="display:block">
    <ul>
        {{#entries}}
        {{#if withVariant}}<li class="variantIntoAccount" style="display: none">{{else}}<li>{{/if}}{{name}}</li>
        {{/entries}}
    </ul>
</div>
<div id="showIsoform" style="display:none">
    <ul>
    {{#isoforms}}{{#each this}}

    {{#if variant}}<li class="variantIntoAccount" style="display: none">{{else}}<li>{{/if}}{{isoform}} {{#if variant}}({{positions.0.first}} : {{variant.original}}  → {{variant.variant}}){{/if}}</li>
    {{/each}}
    {{/isoforms}}
    </ul>
</div>