<div id="preLoaderActive" class="circularGparent" style="display:inline-block;">
    <div class="circularG_1 circularG">
    </div>
    <div class="circularG_2 circularG">
    </div>
    <div class="circularG_3 circularG">
    </div>
    <div class="circularG_4 circularG">
    </div>
    <div class="circularG_5 circularG">
    </div>
    <div class="circularG_6 circularG">
    </div>
    <div class="circularG_7 circularG">
    </div>
    <div class="circularG_8 circularG">
    </div>
</div>