<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../dist/triple-viewer.css">
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <!--<script src="handlebars.js"></script>-->
    <!--<script src="nextprot.js"></script>-->
    <!--<script src="sequence-viewer.js"></script>-->
    <!--<script src="d3.v3.js"></script>-->
    <!--&lt;!&ndash;<script src="script.js"></script>&ndash;&gt;-->
    <!--<script src="peptide_templates.js"></script>-->
    <!--<script src="nextprot-templates.js"></script>-->
    <!--<script src="feature-viewer.js"></script>-->
</head>
<body>
<!--<script>-->
    <!--var sendRequest = function() {-->
        <!--var iframe1 = document.getElementById("iframeView");-->
        <!--console.log(iframe1);-->
        <!--iframe1.contentWindow.postMessage('sizing?', 'http://localhost:8000/triple-viewer/example/proteomics.html');-->
    <!--}-->
<!--</script>-->
<nav class="navbar navbar-default" style="margin:0px" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand navbar-logo" href="/" style="padding-top:8px;">
                <img src="../assets/np-logo.png" style="width:25%;display:inline-block">neXtProt</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <!-- Ressources -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Resources
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <!-- Learn -->
                        <li ng-class=""><a href="https://search.nextprot.org">Search</a></li>
                        <li ng-class=""><a href="http://snorql.nextprot.org">Snorql</a></li>
                        <li ng-class=""><a href="https://api.nextprot.org">API</a></li>
                    </ul>
                </li>

                <!-- Help dropdown -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Help
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <!-- Learn -->
                        <li ng-class="{'active':isActiveDoc('/help/learn-simple-search')}"><a
                                href="/help/learn-simple-search">Simple search</a></li>
                        <li ng-class="{'active':isActiveDoc('/help/learn-advanced-search')}"><a
                                href="/help/learn-advanced-search">Advanced search</a></li>
                        <li><a href="#"></a></li>
                        <li ng-class="{'active':isActiveDoc('/help/search-results')}"><a
                                href="/help/learn-search-results">Search results</a></li>
                        <li><a href="#"></a></li>
                        <li ng-class="{'active':isActiveDoc('/help/doc/introduction')}"><a
                                ng-href="/help/doc/introduction" href="/help/doc/introduction">RDF help</a></li>
                        <li><a href="#"></a></li>
                        <li class="divider"></li>
                        <li ng-class="{'active':isActiveDoc('/help/learn-protein-lists')}"><a
                                href="/help/learn-protein-lists">Protein Lists</a></li>
                        <li class="divider"></li>
                        <li ng-class="{'active':isActiveDoc('/help/learn-developer-api')}"><a
                                href="/help/learn-developer-api">Developer API</a></li>
                        <!--  <li><a target="_blank" href="http://bl.ocks.org/calipho-sib">Look at our bl.ocks.org</a></li> -->
                        <li class="divider"></li>

                        <!-- FAQ
                        <li ng-class="{'active':isActiveDoc('/pages/faq')}"><a href="/pages/faq">FAQ</a></li>
                    -->

                        <!-- News -->
                        <li ng-class="{'active':isActiveDoc('/what-is-new')}"><a href="/what-is-new">What's new?</a>
                        </li>
                        <!-- Known issues -->
                        <li ng-class="{'active':isActiveDoc('/known-issues')}"><a href="/known-issues">Known issues</a>
                        </li>

                        <!-- Found a bug -->
                        <li ng-class=""><a target="_blank" href="https://github.com/calipho-sib/nextprot-ui/issues">Found
                            a bug?<i class="glyphicon glyphicon-github"></i></a></li>
                    </ul>
                </li>

                <li ng-class=""><a href="/about">About</a></li>
                <li ng-class=""><a href="mailto:support@nextprot.org?subject=[neXtProt%20Search]">Contact us</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li>
                    <a title="My lists" ng-click="goToUser('lists')" type="button" class="link">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    </a>
                </li>

                <li>
                    <a title="My queries" ng-click="goToUser('queries')" type="button" class="link">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span></a>
                </li>


                <!-- login button -->
                <!-- ngIf: !user.profile.email -->
                <li ng-if="!user.profile.email" class="ng-scope">
                    <a href="" type="button" class="link" ng-click="login()">Login</a>
                </li>
                <!-- end ngIf: !user.profile.email -->

                <!-- once logged in user resources -->
                <!-- ngIf: user.profile.email -->
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"
             style="background:#777777;height:60px;padding:0px;border-radius:0px;;border-bottom: 1px solid #595959;box-shadow: inset 0px -3px 6px -6px #D0D0D0, 0px 3px 6px -6px #757575;">
            <h4 style="color:#F8F8F8;font-size:1.7em;font-family:HelveticaUltraLight;height:40px;font-weight:500;padding:5px 0px 25px;margin-bottom:15px;text-align: center;letter-spacing:0px;">
                Glycogenin-1</h4>
        </div>
        <div class="col-md-10" style="height:60px;">
            <div class="row" style="height:inherit;background-color:white;border-bottom: 1px solid #B6B6B6;">
                <div class="col-md-4">

                    <div style="text-align: center;margin-top:15px;margin-left:20px;display: inline-block;">
                        <span style="background-color:lightgrey;color:blackgrey;font-weight:900;padding:3px 8px;">1</span>

                        <p style="color:grey;font-size:0.8em;font-weight:600;margin-top:5px;margin-bottom: 5px;">
                            ISO</p>
                    </div>
                    <div style="text-align: center;margin-top:15px;margin-left:20px;display: inline-block;">
                        <span style="background-color:#0F8292;color:white;font-weight:900;padding:3px 8px;">1</span>

                        <p style="color:grey;font-size:0.8em;font-weight:600;margin-top:5px;margin-bottom: 5px;">
                            GENE</p>
                    </div>
                    <div style="text-align: center;margin-top:15px;margin-left:20px;display: inline-block;">
                        <span style="background-color:#CFB915;color:white;font-weight:600;padding:5px 3px;font-size:13px;">593</span>

                        <p style="color:grey;font-size:0.8em;font-weight:600;margin-top:5px;margin-bottom: 5px;">
                            REF</p>
                    </div>
                    <div style="display:inline-block;margin-top:15px; margin-left:30px;vertical-align:top;">
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true" style="padding-left:20px;font-size:2em;"></span>
                        <span class="glyphicon glyphicon-tag" aria-hidden="true" style="padding-left:40px;font-size:1.5em;"></span>
                    </div>
                </div>
                <div class="col-md-3 pull-right" style="margin-top:15px;margin-right:50px;">
                    <input type="text" class="form-control" id="inputSuccess3" aria-describedby="inputSuccess3Status"
                           placeholder="Search...">
                    <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"
                          style="margin-right: 10px;"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height:82vh;">
        <div style="height:100%;background:#E7E7E7;margin-bottom: 0px;padding:0px;border-radius:0px;border:none;"
             class="navbar col-md-2 left-side">
            <div class="panel-group" id="accordion" style="margin:0px">
                <div class="panel panel-default menu-group" style="margin:0px">
                    <div class="panel-heading menu-header">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                <img src="../image/iconeProt1Neg.png" alt="prot menu" width="40px" align="middle">
                                 <span style="margin-left:15px;vertical-align:middle;"><span style="font-size: 28px;">P</span>rotein</span>
                            </a></h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse menu-content in">
                        <div class="panel-body" style="padding:0px">
                            <ul class="nav nav-stacked prot-menu">
                                <li><a href="javascript:void(0)" data-toggle="tab">Function</a></li>
                                <li><a href="javascript:void(0)" data-toggle="tab">Medical</a></li>
                                <li><a href="javascript:void(0)" data-toggle="tab">Expression</a></li>
                                <li><a href="javascript:void(0)" data-toggle="tab">Interactions</a></li>
                                <li><a href="javascript:void(0)" data-toggle="tab">Localisation</a></li>
                                <li id="tabSequence"><a href="javascript:void(0)" data-toggle="tab">Sequence</a></li>
                                <li id="tabProteomics" class="active"><a href="javascript:void(0)" data-toggle="tab">Proteomics</a>
                                </li>
                                <li id="tabStructure"><a href="javascript:void(0)" data-toggle="tab">Structures</a></li>
                                <li><a href="javascript:void(0)" data-toggle="tab">Identifiers</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default menu-group" style="margin:0px">
                    <div class="panel-heading menu-header">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                <span style="font-size: 28px;">G</span>ene
                            </a></h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse menu-content">
                        <div class="panel-body" style="padding:0px">
                            <ul class="nav nav-stacked gene-menu">
                                <li><a href="javascript:void(0)" data-toggle="tab">Exons</a></li>
                                <li><a href="javascript:void(0)" data-toggle="tab">Identifiers</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default menu-group" style="margin:0px">
                    <div class="panel-heading menu-header">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                <span style="font-size: 28px;">R</span>eferences
                            </a></h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse menu-content">
                        <div class="panel-body" style="padding:0px">
                            <ul class="nav nav-stacked ref-menu">
                                <li><a href="javascript:void(0)" data-toggle="tab">Curated publications</a></li>
                                <li><a href="javascript:void(0)" data-toggle="tab">Additional publications</a></li>
                                <li><a href="javascript:void(0)" data-toggle="tab">Patents</a></li>
                                <li><a href="javascript:void(0)" data-toggle="tab">Submissions</a></li>
                                <li><a href="javascript:void(0)" data-toggle="tab">Web resources</a></li>
                                <!--<li><a href="javascript:void(0)" data-toggle="tab" onclick="sendRequest()">iframe test</a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-10 right-side" style="padding:0px;height:100%;box-shadow: -1px 0px 2px -1px #888888;">
            <iframe id="iframeView" width="100%" style="border:none;height:100%;"></iframe>
            <!--<div class="row" style="margin-right: 20px;margin-left: 20px;">-->
            <!--<div id="nx-overview" class="col-lg-10 col-lg-offset-1 col-md-12"-->
            <!--style="background:#fff;margin-top:20px;margin-bottom:20px;border-top:4px solid #E7EAEC;border-bottom: 1px solid #E7EAEC;"></div>-->
            <!--</div>-->
            <!--<div class="row" style="margin-right: 20px;margin-left: 20px;">-->
            <!--<div id="nx-isoformChoice" class="col-lg-10 col-lg-offset-1 col-md-12"-->
            <!--style="margin-top:10px;margin-bottom: -5px;"></div>-->
            <!--</div>-->
            <!--<div class="row" style="margin-right: 20px;margin-left: 20px;">-->
            <!--<div class="col-lg-10 col-lg-offset-1 col-md-12"-->
            <!--style="background:#fff;padding:0px;border-top:4px solid #E7EAEC;border-bottom: 1px solid #E7EAEC">-->
            <!--<div class="chart"></div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="row" style="margin-right: 20px;margin-left: 20px;margin-top:10px;">-->
            <!--<div id="featuresTable" class="col-lg-5 col-md-6 col-lg-offset-1"-->
            <!--style="background:#fff;height:580px;padding:5px 15px;border-top:4px solid #E7EAEC;border-bottom: 1px solid #E7EAEC"></div>-->
            <!--<div class="col-lg-5 col-md-6" style="padding-right:0px;">-->
            <!--<div id="seqViewer"-->
            <!--style="background:#fff;padding:5px 15px;height:580px;border-top:4px solid #E7EAEC;border-bottom: 1px solid #E7EAEC"></div>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>

<!--<div class="container text-center small">-->
    <!--<hr style="margin-top: 0px;margin-bottom:10px"/>-->
    <!--<div class="row">-->
        <!--<div class="col-lg-12">-->
            <!--<div class="col-md-3">-->
                <!--<ul class="nav nav-pills nav-stacked">-->
                    <!--<li><a href="/legal-disclaimer">Legal disclaimer</a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="col-md-3">-->
                <!--<ul class="nav nav-pills nav-stacked">-->
                    <!--<li><a href="/copyright">&copy; 2015 SIB</a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="col-md-3">-->
                <!--<ul class="nav nav-pills nav-stacked">-->
                    <!--<li><a href="https://github.com/calipho-sib/nextprot-ui" target="_blank"><i class="icon-github"></i>For-->
                        <!--developers</a></li>-->
                    <!--</a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="col-md-3">-->
                <!--<ul class="nav nav-pills nav-stacked">-->
                    <!--<li><a href="https://github.com/calipho-sib/nextprot-ui/releases" target="_blank"><i-->
                            <!--class="icon-tag"></i>Version: <span np-build-version></span></a></li>-->
                    <!--</a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="col-md-3">-->
                <!--<ul class="nav nav-pills nav-stacked">-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<hr style="margin-top:10px;margin-bottom:0px"/>-->
<!--</div>-->
</body>
<script>
//    handleSizingResponse = function(e) {
////        if(e.origin == 'http://remote-domain.com') {
//        console.log("response from iframe (PostMessage)");
//        console.log(e);
//            var action = e.data.split(':')[0];
//            if(action == 'sizing') {
//                resizeCanvas(e.data.split(':')[1]);
//            } else {
//                console.log("Unknown message: "+e.data);
//            }
////        }
////        else {
////            console.log("listener did listen. Amazing");
////        }
//    };
//    window.addEventListener('message', handleSizingResponse, false);

    var entry2 = $(location).attr('search');
    var entry = entry2.substr(entry2.indexOf("=") + 1);
    console.log(entry);
    $("#iframeView").attr("src", "proteomics.html?nxentry=" + entry);
    $("#tabSequence").click(function () {
        $("#iframeView").attr("src", "sequence.html?nxentry=" + entry);
    });
    $("#tabProteomics").click(function () {
        $("#iframeView").attr("src", "proteomics.html?nxentry=" + entry);
    });
    $("#tabStructure").click(function () {
        $("#iframeView").attr("src", "structures.html?nxentry=" + entry);
    });
</script>
<!-- Footer
 ================================================== -->

</html>