<div class="evidence-container">
    <div class="evidence-arrow">&#10549;</div>  Evidence {{math @index 1}}
    <span class="evidence-label evidence-code-name">{{codeName}}</span><span class="evidence-label evidence-source">{{source}}</span>
</div>
<div class="evidence-accession">
    <a href={{url}}>{{accession}}</a>
</div>
