<div class="publication-container">
    {{#if publication}}
        {{#publication}}
        {{#if title}}<p><a href="{{localUrl}}"  target='_parent'>{{title}}</a></p>{{/if}}
        <p><span class="hyperlink-blue">{{#each authors}}{{lastName}} {{initials}}. , {{/each}}</span></p>
        <p>{{journal}} <strong>{{#journalResourceLocator}}{{medAbbrev}} {{/journalResourceLocator}}</strong>, {{firstPage}} {{#if lastPage}}- {{lastPage}}{{/if}} ({{publicationYear}}) {{#each dbXrefs}}[{{databaseName}} : <a href="{{resolvedUrl}}" class="extLink" target='_blank'>{{accession}}</a>] {{/each}}
        </p>
        {{#if abstractText}}
        <button class="btn btn-primary btn-xs collapsed" type="button" data-toggle="collapse" data-target="#collapse{{publicationId}}{{../parentId}}" aria-expanded="false" aria-controls="collapse{{publicationId}}{{../parentId}}">
            <span class="pubDisplayStatus"></span> abstract
        </button>
        <div class="collapse" id="collapse{{publicationId}}{{../parentId}}">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Abstract</h3>
                </div>
                <div class="panel-body">{{abstractText}}</div>
            </div>
        </div>
        {{else}}No Abstract available{{/if}}
        {{/publication}}
        <!--{else}
        {#if crossRef}
            {#crossRef}
                <p><a href="{url}" class="extLink" target='_blank'>{name}</a></p>
            {/crossRef}
        {/if}-->
    {{/if}}
</div>