{{#if qualityQualifier}}
    <div class="quality-label-container">
        <span class="colored-label quality-pointer pointer-{{qualityQualifier}}">•</span><span class="colored-label quality-label label-{{qualityQualifier}}">{{qualityQualifier}}</span>
    </div>
{{/if}}