{{#if qualityQualifier}}
    <div class="quality-label-container">
        <span class="prefix-label quality-pointer pointer-{{qualityQualifier}}">•</span><span class="prefix-label quality-label label-{{qualityQualifier}}">{{qualityQualifier}}</span>
    </div>
{{/if}}