<div id="xrefs-header" class="category-header">
    <div class="badge-container">
        <span class="badge counter-badge">{{count}}</span>
    </div>
    <h4 id="keywords-title" class="category-title">Further external links</h4>
</div>
<div class="category-main">
{{#data}}{{#each this}}
    <div class="row">
        <div class="col-lg-4 col-md-2 col-sm-12 col-xs-12">
            <h4 class="hidden-sm hidden-xs annotation-category-title text-align-right">{{@key}}</h4>
            <h4 class="hidden-lg hidden-md annotation-category-title text-align-left">{{@key}}</h4>
        </div>
        <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
            {{#each this}}
            <div class="row annotation-row">
                <div class="col-md-3 col-sm-3 col-xs-4 annotation-title-container">
                    <p class="annotation-title">{{name}}</p>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-8">
                {{#xrefs}}
                    <div class="btn-group hidden-xs" role="group">
                        {{#if prefix}}<label class="btn btn-xs prefix-label">{{prefix}}</label>{{/if}}
                        <a class="btn btn-xs btn-default selectable extLink" href="{{url}}" target="_blank">{{accession}}</a>
                        {{#if suffix}}<label class="suffix-label">{{suffix}}</label>{{/if}}
                    </div>
                    <div class="row hidden-lg hidden-md hidden-sm">
                        <div class="btn-group col-xs-12 no-padding" role="group">
                            {{#if prefix}}<label class="btn btn-xs prefix-label">{{prefix}}</label>{{/if}}
                            <a class="btn btn-xs btn-default selectable extLink" href="{{url}}" target="_blank">{{accession}}</a>
                            {{#if suffix}}<label class="suffix-label">{{suffix}}</label>{{/if}}
                        </div>
                    </div>
                {{/xrefs}}
                </div>
            </div>
            {{/each}}
        </div>
        </div>
{{/each}}
{{#unless @last}}
    <hr class="bottom-line">
{{/unless}}
{{/data}}
</div>