<div class="info-box info-red">
    <div class="info-icon">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        </div><div class="info-content">
        <span style="font-weight:300">
            <span style="font-size:20px;font-weight:500">Impossible to get the data !</span>
            <span>{{{this}}}</span>
        </span>
    </div>
</div>