<div class="info-box info-red">
    <div class="info-icon">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        </div><div class="info-content">
        <span style="font-weight:300">
            <span style="font-size:20px;font-weight:500">Peptide not found !</span> 
            The peptide <strong>{{name}}</strong> has not been found in our database. Please check again the sequence or enter a new peptide.
        </span>
    </div>
</div>