<div class="info-box info-red">
    <div class="info-icon">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        </div><div class="info-content">
        <span style="font-weight:300">
            <span style="font-size:20px;font-weight:500">Limit exceeded !</span>
            <span>You have exceeded the maximum length of <strong>2000</strong> of the peptide length.</span>
        </span>
    </div>
</div>