<div class="col-md-12">
    <div class="panel panel-danger">
        <div class="panel-heading">
            Impossible to get the data !
        </div>
        <div class="panel-body">
            {{{this}}}
        </div>
    </div>
</div>