<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-danger">
        <div class="panel-heading">
            Limit exceeded !
        </div>
        <div class="panel-body">
            You have exceeded the maximum number of peptides (<strong>50</strong>).
        </div>
    </div>
</div>