<div class="col-md-12">
    <div class="panel panel-danger">
        <div class="panel-heading">
            Limit exceeded !
        </div>
        <div class="panel-body">
            You have exceeded the maximum number of <strong>1000</strong> peptides.
        </div>
    </div>
</div>