<div class="col-md-12">
    <div class="panel panel-danger">
        <div class="panel-heading">
            Peptide not found !
        </div>
        <div class="panel-body">
            The peptide <strong>{{name}}</strong> has not been found in our database. Please check again the sequence or enter a new peptide.
        </div>
    </div>
</div>